@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<!-- Header -->
@await Component.InvokeAsync("_CustomerLayoutHeaderPartial")
<!-- /Header -->
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            @await Component.InvokeAsync("_CustomerLayoutSidebarPartial")

            <!-- Navbar -->
            @await Component.InvokeAsync("_CustomerLayoutNavbarPartial")
            <!-- /Navbar -->
            <!-- RenderBody -->
            <div class="right_col" role="main">
                @RenderBody()
            </div>
            <!-- /RenderBody  -->
            <!-- footer -->
            @await Component.InvokeAsync("_CustomerLayoutFooterPartial")
            <!-- /footer -->
        </div>
    </div>
    <!-- script -->
    @await Component.InvokeAsync("_CustomerLayoutScriptPartial")
    <!-- /script -->
</body>
</html>